<div id="primary" class="content-area">
  <main id="main" class="site-main" >


    <article id="post-125" class="post-125 page type-page status-publish hentry">
      <header class="entry-header">
        <h1 class="page-title">ITjugadu Privacy Policy</h1>	</header><!-- .entry-header -->

      <div class="entry-content">
        <p>We value your privacy.</p>
        <p>This privacy policy applies to the use of all our web properties including this site.</p>

        <p><strong>What information ITjugadu collects and Why</strong></p>
        <p>In order to give you the best possible experience using ITjugadu, we collect information from your interactions with our network. We use common internet technologies, such as cookies and web server logs. We collect this basic information from everybody, whether they have an account or not.</p>
        <p>The information we collect about all visitors to our website includes:</p>
        <ul>
          <li>The visitor’s browser type</li>
          <li>Referring site</li>
          <li>The date and time of each visitor request</li>
          <li>We also collect potentially personally-identifying information like Internet Protocol (IP) addresses.</li>
        </ul>

        <p>We use this information to:</p>
        <ul>
          <li>Provide, test, improve, promote and personalize ITjugadu Services</li>
          <li>Fight spam and other forms of abuse</li>
          <li>Generate aggregate, non-identifying information about how people use ITjugadu Services</li>
        </ul>

        <p>In order for you to create an account on ITjugadu and use our Services, we need to collect and process certain information. Depending on your use of the Services, that may include:</p>
        <ul>
          <li>Communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem);</li>
          <li>Information that you submit on or to ITjugadu in the form of reactions, comments, or messages to other users;</li>
          <li>The email address associated with your Twitter account, if you choose to sign up using your Twitter credentials. ITjugadu will also request permission to access additional information (these permissions are governed by Twitter’s privacy policies and can be managed through your Twitter privacy settings). We never post anything to your social without your permission.</li>
          <li>The email address associated with your GitHub account, if you choose to sign up using your Github credentials. ITjugadu will also request permission to access additional information (these permissions are governed by GitHub’s privacy policies and can be managed through your GitHub privacy settings). We never post anything to your GitHub without your permission.</li>
          <li>You also have the option to give us more information if you want to, and this may include “User Personal Information.”
        </ul>

        <p><strong>Information Disclosure</strong></p>
        <p>We do not share, sell, rent, or trade User Personal Information with third parties for commercial purposes.</p>
        <p>We may use User Personal Information with your permission, so we can perform services you have authorized. For example, if you indicate you are looking for work, we may contact you with opportunities.
        </p>

        <p><strong>Links to Third Party Websites</strong></p>
        <p>This website may contain links to other sites that are not controlled in any way by us. Please be aware when you click on any such links; we are not responsible for the privacy practices and/or policies of any website other than our own. Consequently, we strongly suggest that you review the privacy policy of every website you visit, whether or not they are linked to by our site.<strong>&nbsp;</strong></p>

        <p><strong>Registration and Use of Personal Information</strong></p>
        <p>Registration is not required in order to use or access this website. However, we may make forums, blogs, message boards or similar features available to our visitors. You may be asked to register for using these features, particularly if you wish to leave comments or publish content.<strong>&nbsp;</strong></p>
        <p>Please note that if you post comments or articles to any forum, blog or message board on this site, any personally identifiable information you provide in those comments or articles may be read, collated and used by anyone viewing them. As such, we are not responsible for personally identifiable information you may choose to make available through these channels.<strong>&nbsp;</strong></p>


        <p><strong>Security</strong></p>
        <p>We follow accepted industry standards to protect any personal information you have provided to us. However, please be aware that no method of electronic storage can ever be 100% secure. Therefore, as is the case with any organization – we are not in a position to guarantee the absolute security of your information.<strong>&nbsp;</strong></p>
        <p>You may submit any questions you may have about our security procedures by emailing us<strong>&nbsp;</strong></p>

        <p><strong>Deleting Your Personal Information</strong></p>
        <p>You may request deletion of your personal information and account <a href="#" routerLinkActive="active" routerLink="/contact">contact us</a>. <strong>&nbsp;</strong></p>
        <p>To protect information from accidental or malicious destruction, we may maintain residual copies for a brief time period. But, if you delete your account, your information and content will be unrecoverable after that time.<strong>&nbsp;</strong></p>


        <p><strong>Business Transfers</strong></p>
        <p>If we are involved in a merger, acquisition, bankruptcy, reorganization or sale of assets such that your information would be transferred or become subject to a different privacy policy, we’ll notify you in advance of any such change.<strong>&nbsp;</strong></p>

        <p><strong>Changes to this Policy </strong></p>
        <p>We reserve the right to revise this Privacy Policy at any time. If we change this Privacy Policy in the future, we will post the revised Privacy Policy and update the “Effective Date,” above, to reflect the date of the changes.<strong>&nbsp;</strong></p>

        <p><strong>Legal Disclaimer</strong></p>
        <p>We reserve the right to disclose your personally identifiable information as required by law and when we believe that disclosure is necessary to protect our rights and/or to comply with a judicial proceeding, court order or legal process served on our website.<strong>&nbsp;</strong></p>
        <p>If you have any questions or concerns regarding this privacy policy, please free to<a
          href="#" routerLinkActive="active" routerLink="/contact"> contact us.</a><strong>&nbsp;</strong></p>

      </div>
    </article>
  </main>
</div>
