<div id="primary" class="content-area">
  <main id="main" class="site-main">
    <article id="post-121" class="post-121 page type-page status-publish hentry">
      <header class="entry-header">
        <h1 class="page-title">PROVIDE SOME DETAILS FOR YOUR USER ACCOUNT</h1></header>
      <div class="entry-content">
        <p>No issue, you can always change this later on.<strong>&nbsp;</strong>
        </p>
        <div role="f" class="wpcf7" id="wpcf7-f257-p121-o1" lang="en-US" dir="ltr">
          <div class="screen-reader-response"></div>
          <div *ngIf="this.registerMessage.statusCode !== 409; else registerTag">
            <p class="contact-message"><b> {{this.registerMessage.message}} </b>
            <a *ngIf="this.registerMessage.message" href="#" routerLink="/login"> Login here</a>
            </p>
          </div>
         <form name="form" (ngSubmit)="f.form.valid && registerUser()" #f="ngForm" class="wpcf7-form">
            <p><label><span class="invalid-color">*</span> First Name<br/>
              <span class="wpcf7-form-control-wrap">
                  <input type="text" name="firstNamre" id="firstName" [(ngModel)]="oRegister.firstName" value="" size="40"
                         class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" #firstName="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required/>
              <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
              <div *ngIf="firstName.errors.required" class="invalid-color">First Name is required.</div>
            </div>
              </span> </label>
            </p>
            <p><label><span class="invalid-color">*</span> Last Name<br/>
              <span class="wpcf7-form-control-wrap">
                  <input type="text" name="username" id="username" [(ngModel)]="oRegister.lastName" size="40"
                         class="wpcf7-form-control wpcf7-text" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
               <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
              <div *ngIf="lastName.errors.required" class="invalid-color">Last Name is required.</div>
               </div>
              </span> </label></p>

            <p><label><span class="invalid-color">*</span> Your Email<br/>
              <span class="wpcf7-form-control-wrap">
                  <input type="email" name="email" id="email" [(ngModel)]="oRegister.email" size="40"
                         class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                         #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email/>
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required" class="invalid-color">Email is required.</div>
              <div *ngIf="email.errors.email" class="invalid-color">Email must be a valid email address.</div>
            </div>
              </span>
            </label></p>
           <p><label><span class="invalid-color">*</span> Password<br/>
              <span class="wpcf7-form-control-wrap">
                  <input type="password" name="password" id="password" [(ngModel)]="oRegister.password" size="40"
                         #password='ngModel' [ngClass]="{'is-invalid': f.submitted && password.invalid}" class="wpcf7-form-control wpcf7-text" required />
               <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required" class="invalid-color">Password is required.</div>
               </div>
                </span> </label></p>
            <p><input type="submit" value="Register" class="wpcf7-form-control wpcf7-submit"/>
            </p>
            <div *ngIf="this.registerMessage.statusCode !== 409; else registerTag">
              <p class="contact-message"><b> {{this.registerMessage.message}} </b>
              <a *ngIf="this.registerMessage.message" href="#" routerLink="/login"> Login here</a>
              </p>
            </div>
            <ng-template #registerTag>
              <p class="invalid-color"> {{this.registerMessage.message}} </p>
            </ng-template>
          </form>
        </div>
      </div>
    </article>
  </main>
  <div class="breadcrumbs clear">
  </div>
  <div class="breadcrumbs clear">
    <h3>
      Recommended For You
    </h3>
  </div>
  <div id="recent-content" class="content-loop">
    <div *ngFor="let latest of oLatestPost.slice(1,5)"
         class="clear post-98 post type-post status-publish format-standard has-post-thumbnail hentry category-social-media category-technology">
      <a class="thumbnail-link" href="#" [routerLink]="['/blog-info', moreInfo(latest)]">
        <div class="thumbnail-wrap">
          <img width="300" height="200" src="{{imageUrl + latest.thumbnailImage}}"
               class="attachment-post_thumb size-post_thumb wp-post-image" alt=""
               srcset="{{imageUrl + latest.thumbnailImage}} 300w, {{imageUrl + latest.thumbnailImage}} 768w, {{imageUrl + latest.thumbnailImage}} 1024w, {{imageUrl + latest.thumbnailImage}} 720w, {{imageUrl + latest.thumbnailImage}} 600w, {{imageUrl + latest.thumbnailImage}} 1570w"
               sizes="(max-width: 300px) 100vw, 300px"/>
        </div><!-- .thumbnail-wrap -->
      </a>
      <div class="entry-header">
        <div class="entry-category-icon">
          <!-- Here if else condition because in route we have "html-css" but getting "HTML CSS" in postType  -->
          <a href="#" routerLinkActive="active" *ngIf="latest.postType === 'HTML CSS';else content"
             routerLink="/html-css" title="View all posts in HTML & CSS">{{latest.postType}}</a>
          <ng-template #content><a href="#" routerLinkActive="active" routerLink="/{{latest.postType| lowercase}}"
                                   title="View all posts in HTML & CSS">{{latest.postType}}</a></ng-template>
        </div>
        <h2 class="entry-title"><a href="#" [routerLink]="['/blog-info', moreInfo(latest)]">{{latest.postName}}</a>
        </h2>
        <div class="entry-meta clear">
            <span class="entry-author">
              <a href="#" [routerLink]="['/author', latest.author]">
              <img alt='' src="assets/images/logo/admin.png" class='avatar avatar-48 photo' height='48' width='48'/>
              </a>
              <a href="#" [routerLink]="['/author', latest.author]" title="Posts by {{latest.author}}"
                 rel="author">{{latest.author}}</a> &#8212; </span>
          <span class="entry-date">{{latest.createdAt|date:'longDate'}}</span>
          <!--When user click here it will jump to comment section of post-->
          <span class='entry-comment'><a href="#" [routerLink]="['/blog-info', moreInfo(latest)]"
                                         class="comments-link">{{latest.comment}} comment</a></span>
        </div>
      </div>
      <div class="entry-summary">
        <div class="limited-text">{{latest.description}}</div>
        ...
        <span class="comments-link"><a href="#"
                                       [routerLink]="['/blog-info', moreInfo(latest)]"> Read more &raquo;</a> {{latest.readingTime}}
          MINUTE READ</span>
      </div>
    </div>
  </div>

</div>
