<div id="primary" class="content-area">
    <main id="main" class="site-main" >


      <article id="post-125" class="post-125 page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="page-title">About</h1>	</header><!-- .entry-header -->

        <div class="entry-content">
          <p><strong>WHAT WE STAND FOR​</strong></p>
          <p>ITJugadu is a community where all getting together to help one another out. The Testing,
            Angular,
            HTML & CSS,
            Vue, Php,
            Node industry relies on collaboration and networked learning. We provide a place for that to happen.<strong>&nbsp;</strong></p>
        </div>
      </article>
    </main>
  </div>
