<div id="primary" class="content-area clear">
  <main id="main" class="site-main clear">
    <div class="breadcrumbs clear">
      <h3>
        Vue & Php </h3>
      <div class="taxonomy-description"><p>Run Hard. Run Fast. But just keep running.</p>
      </div>
    </div>
    <div id="recent-content" class="content-loop">
      <div *ngFor="let sport of oVuePhp"
           class="clear post-98 post type-post status-publish format-standard has-post-thumbnail hentry category-social-media category-technology">
        <a class="thumbnail-link" href="#" [routerLink]="['/blog-info', moreInfo(sport)]">
          <div class="thumbnail-wrap">
            <img width="300" height="200" src="{{imageUrl + sport.thumbnailImage}}"
                 class="attachment-post_thumb size-post_thumb wp-post-image" alt=""
                 srcset="{{imageUrl + sport.thumbnailImage}} 300w, {{imageUrl + sport.thumbnailImage}} 768w, {{imageUrl + sport.thumbnailImage}} 1024w, {{imageUrl + sport.thumbnailImage}} 720w, {{imageUrl + sport.thumbnailImage}} 600w, {{imageUrl + sport.thumbnailImage}} 1570w"
                 sizes="(max-width: 300px) 100vw, 300px"/>
          </div>
        </a>
        <div class="entry-header">
          <h2 class="entry-title"><a href="#" [routerLink]="['/blog-info', moreInfo(sport)]">{{sport.postName}}</a></h2>
          <div class="entry-meta clear">
            <span class="entry-author">
              <a href="#" [routerLink]="['/author', sport.author]">
              <img alt='' class='avatar avatar-48 photo' height='48' width='48'/></a>
              <a href="#" [routerLink]="['/author', sport.author]" title="Posts by {{sport.author}}" rel="author">{{sport.author}}</a> &#8212;
            </span>
            <span class="entry-date">{{sport.createdAt|date:'longDate'}}</span>
            <span class='entry-comment'><a href="#" [routerLink]="['/blog-info', moreInfo(sport)]" class="comments-link">{{sport.comment}} comment</a></span>
          </div>
        </div>
        <div class="entry-summary">
          <div class="limited-text">{{sport.description}}</div>
          ...
          <span class="comments-link"><a href="#" [routerLink]="['/blog-info', moreInfo(sport)]"> Read more &raquo;</a> {{sport.readingTime}} MINUTE READ</span>
        </div>
      </div>
    </div>
  </main>
</div>
<ngx-spinner></ngx-spinner>
