/* You can add global styles to this file, and also import other style files */
.contact-message{
  color: green;
}

.limited-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.invalid-color {
  color: red;
}
